div.social__login 
    button.social__login--github
        span
            i.fab.fa-github 
            |   Contineu with Github 
    button.social__login--facebook
        span
            i.fab.fa-facebook
            |   Continue with FaceBook
