div.social__login 
    button.social__login--github
        a(href=routes.github)
            span
                i.fab.fa-github 
                |   Contineu with Github 
    button.social__login--facebook
        span
            i.fab.fa-facebook
            |   Continue with FaceBook
    button.social__login--google
        span
            i.fab.fa-google
            |   Continue with Google
