div.social__login 
    button.social__login--button 
        span.social__login--github
            i.fab.fa-github 
            | Contineu with Github 
    button.social__login--button 
        span.social__login--facebook
            i.fab.fa-facebook
            | Continue with FaceBook
