extends layouts/main 

block content
    div.form__container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="Current password")        
            input(type="password", name="newPassword", placeholder="new password")
            input(type="password", name="newPassword1", placeholder="verify password")
            input(type="submit", value="Change Password")
