extends layouts/main

block content
    div.form__container
        form(action=routes.editProfile, method="post")
            div.fileUpload
                label(for="avatar") Avatar 
                input(type="file", id="avatar", name="avatar")
            input(type="text", placeholder="Name", name="name")
            input(typpe="email", placeholder="e-mail", name="email")
            input(type="submit", value="Update Profile")
        
        a.form__container--link(href=`/users${routes.changePassword}`) 
            button.changePassword Change Password
        

    