extends layouts/main 

block content
    div.form__container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="your name")
            input(type="email", name="email", placeholder="e-mail")
            input(type="password", name="password1", placeholder="password")
            input(type="password", name="password2", placeholder="verify password")
            input(type="submit", value="Join Now")
        include partials/socialLogin