extends layouts/main

block content
    div.form__container
        form(action=`/video${routes.upload}`, method="post")
            label(for="avatar") Video File
            input(type="file", id="file", name="file")
            input(type="text", placeholder="Titel", name="title")
            textarea(name="description", placeholder="description")
            input(type="submit", value="Upload Video")