.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
  grid-gap: 10px;
  height: 100%;
  .videoBlock:first-child,
  .videoBlock:nth-child(2) {
    grid-column: span 3;
    iframe {
      height: 300px;
    }
  }
  .videoBlock:nth-child(3),
  .videoBlock:nth-child(4),
  .videoBlock:nth-child(5) {
    grid-column: span 2;
    iframe {
      height: 200px;
    }
  }
}
